/*
ページに複数可能性があるレイアウトは share-pc.css
ページに絶対一個のみのレイアウトは style-pc.css
*/
/*////////////////////////////////////////////////////////////////////
sample
////////////////////////////////////////////////////////////////////*/

@charset "UTF-8";

@media screen and (min-width: 750px) {
#interview {
margin-bottom: 80px;
}
#interview .interview-list-ttl {
color: #666666;
font-size: 1.6rem;
padding: 12px 0;
max-width: 1240px;
font-weight: 500;
margin-bottom: 32px;
border-bottom: 1px solid #666666;
text-align: left;
}
#interview .img-left-list {
flex-wrap: wrap;
justify-content: space-between;
}
#interview .img-left-list section {
width: 48%;
margin: 2% 0;
}
#interview .img-left-list section a {
}
#interview .img-left-list section a .img {
}
#interview .img-left-list section a .img img {
}
#interview .img-left-list section a .txt {
flex-direction: column;
align-items: center;
padding: 32px 0 0;
}
#interview .img-left-list section a .txt span {
font-size: 1.6rem;
font-weight: 600;
padding-bottom: 15px;
margin-bottom: 10px;
color: #1b4f7e;
position: relative;
}
#interview .img-left-list section a .txt span::before {
content: "";
position: absolute;
display: block;
background: #4dc6ff;
width: 180px;
height: 2px;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
#interview .img-left-list section a .txt .name {
font-size: 1.4rem;
margin-bottom: 4px;
color: #666666;
font-weight: 500;
}
#interview .img-left-list section a .txt .position {
font-size: 1.4rem;
line-height: 1.2;
color: #666666;
font-weight: 500;
}
}
